<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/589d06df-59a8-41ca-b3ae-562264a70e5b/resourceGroups/zapfinance-rg/providers/Microsoft.Web/sites/zapfinance</ResourceId>
    <ResourceGroup>zapfinance-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://zapfinance-ascwfddvhrcpbrbt.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>12345678-1234-1234-1234-123456789012</ProjectGuid>
    <PublishUrl>zapfinance-ascwfddvhrcpbrbt.scm.brazilsouth-01.azurewebsites.net:443</PublishUrl>
    <MsDeployServiceUrl>https://zapfinance-ascwfddvhrcpbrbt.scm.brazilsouth-01.azurewebsites.net</MsDeployServiceUrl>
    <DeployIisAppPath>zapfinance-ascwfddvhrcpbrbt</DeployIisAppPath>
    <UserName>$zapfinance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <ProjectName>Core.Service</ProjectName>
  </PropertyGroup>
</Project>
